build/
compile_commands.json
RimPowder
.vs
CMakeSettings.json
vs2022/*
!vs2022/vs2022.sln
!vs2022/vs2022.vcxproj
!vs2022/sim_gpu/
vs2022/sim_gpu/*
!vs2022/sim_gpu/sim_gpu.vcxproj
build/*
.cache/
.vscode/
*build*
